In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
# Source: https://data.gov.ie/dataset/national-house-construction-cost-index?package_type=dataset
# License: Creative Commons Attribution Share-Alike 4.0
# Accessed: 26 April 2023
nhci_df = pd.read_csv("https://opendata.housing.gov.ie/dataset/aefa3fae-0ca1-4694-867a-a8a70ea77397/resource/188485c4-e5d7-4406-996b-1ff12a9a045a/download/national_house_construction_cost_index_0.csv", header=[1], skiprows=1)

In [7]:
nhci_df.head()

,Month,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,January,109.2,113.5,115.9,118,122.9,126.3,135.8,154.3,169.9,...,198.8,207.4,208,206.9,210.2,202.5,204.1,204.9,206.2,207.4
1,February,109.3,114.1,115.7,118.5,123.1,126.4,136.1,154.7,170,...,198.8,208.2,207.3,207.2,210.5,202.6,204.2,205.4,206,207.1
2,March,109.4,114.1,115.9,118.8,123.8,126.5,136.4,155.6,169.5,...,199.4,208.6,206.8,207.3,200.7,202.7,204.3,205.4,206.5,NaN
3,April,110.3,114.1,115.9,119.8,123.8,130.5,136.5,157.4,169.5,...,200,208.9,206.5,207.9,201,203.4,204.5,205.6,206.8,NaN
4,May,110.1,114.1,115.9,119.8,124.5,130.5,136.8,157.6,169.5,...,200.1,209.4,206.5,208.7,201.2,203.6,204.5,205.9,207.2,NaN

In [8]:
nhci_df.shape

(14, 24)

In [13]:
nhci_df.tail()

,Month,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
9,October,112.7,115.8,117.1,122,126.2,134.7,153.8,169.3,173.9,...,203.8,210.1,206.2,209.5,202,203.8,205.4,206.7,207.2,NaN
10,November,112.9,115.9,117.2,122.6,126.2,134.8,153.8,169.4,174,...,203.8,209.9,206.2,209.5,202.2,204,205.4,206.5,207.6,NaN
11,December,113.1,115.9,117.2,122.6,126.1,134.9,153.9,169.3,174.1,...,204.2,209.3,206.2,209.8,202.3,204.2,204.7,206.2,207.4,NaN
12,Yearly average,111,114.7,116.3,120.4,124.9,131,141,161.5,171.8,...,201.7,209.4,206.5,208.7,203.1,203.5,204.7,206,207.1,NaN
13,% Increase on previous year,3.40%,3.30%,1.40%,3.50%,3.70%,4.90%,7.60%,14.50%,6.40%,...,3.90%,3.80%,-1.40%,1.10%,-2.70%,0.20%,0.60%,0.60%,0.50%,NaN